{%  extends "base.html" %}
{% load staticfiles %}
{% block title %}Productos en el Pedido {{object.id}}{% endblock %}
{% block content %}
<table class="table table-striped">
    <thead>
    <th>Producto</th>
    <th>Cantidad</th>
    </thead>
    <tbody>
    {% for pep in prodenpedidos %}
        {% if pep.idPedido_id == object.id %}
            {% for prod in productos %}
                {% if prod.id == pep.idProducto_id%}
                    <tr>
                    <td>{{prod.nombre}}</td>
                    <td>{{pep.cantidad}}</td>
                    </tr>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>
{% endblock %}