{%  extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Solicitud de Insumos{% endblock %}

{% block content %}
<p>Desde aquí puedes realizar una solicitud de insumos para verificación de bodega.</p>
<div class="container">
    <label for="selectObra">Obra:</label>
    <select id="selectObra"  class="demo-default" name="obra"></select>
    <form action="{% url 'Solicitud' %}" method="post">
    {% csrf_token %}
    {{ productos.management_form }}
    <table class="table table-striped">
    <thead>
    <tr>
        <th>Producto</th>
        <th>Cantidad</th>
        <th></th>
        <th>Remover</th>
    </tr>
    </thead>
    <tbody id="tablaProductos">
    {% for form in productos %}
        <tr id=0>
        <td>
            {{ form.producto }}
        </td>

        <td>
            {{ form.cantidad | add_class:"form-control cant" }}
        </td>
        <td>
            {{ form.obra.as_hidden }}
        </td>
        <td></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    <a href="#" class="btn btn-fill btn-lg add_product"><i class="mdi mdi-plus-circle-outline"></i> Agregar otro producto</a>
    <br>
    <label for="comentario">Comentarios:</label>
    <textarea name="comentario" rows="10" cols="30" maxlength="300" class="form-control"></textarea>
    <br>
    <input type="submit" value="Hacer Pedido" class="btn btn-block btn-primary btn-lg">
    </form>
</div>


{% endblock %}

{% block jsincludes %}
    <script src="{% static "js/selectize.min.js" %}"></script>
    <script src="{% static "js/scriptOrdenes.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/selectize.bootstrap3.css" %}">
{% endblock %}